<div class="content">
	<h1>Tilpas billedet</h1>
	<p>Følg vejledningen i højre side og tilpas dit billede, så det overholder reglerne.</p>
	

	<!-- TODO: embed this preview into a passport - it would look nice and users would be able to relate
	to a real-time use of the image. at least it could be funny. something like the below.

	<div id="passport">
		<div id="photo-preview">
	
		</div>
	</div> -->
	
	<div class="cols adjust_photo">
		<div class="lcol">
			<div id="photo-image-canvas"><%= image_tag(@photo.public_filename(:thumbnail), :id => 'photo-image', :width => 480) %></div>
			<% form_for(@photo) do |f| %>
				<div style="display: none">
					<%= hidden_field_tag 'x1' %>
					<%= hidden_field_tag 'y1' %>
					<%= hidden_field_tag 'x2' %>
					<%= hidden_field_tag 'y2' %>
					<%= hidden_field_tag 'width' %>
					<%= hidden_field_tag 'height' %>
				</div>		
				<fieldset>
					<%= f.check_box :grayscale %> <%= f.label :grayscale, 'Jeg ønsker billederne i sort/hvid' %><br />
				</fieldset>
				<fieldset>
					<%= image_submit_tag '/images/buttons/adjust.png', :class => 'button', :alt => 'Tilpas billede' %> 
				</fieldset>
			<% end %>
		</div>
		<div class="rcol">
			<p>
				Flyt markeringen over dit billede, så hovede og hage er korrekt placeret 
				i rammen. Du kan skifte størrelse på skabelonen ved at trække i hjørnerne.
			</p>
			<p>
				<%= image_tag '/images/illustrations/adjusting-cropper.png', :alt => 'Eksempel på tilpasning'%>
			</p>
			<p>
				Det endelige billede vil lavet med korrekte dimensioner.
			</p>
		</div>
	</div>
	

</div>


