<h1>Trin <span>2</span></h1>
<span id="slogan2">Klip billedet til</span>

<script type="text/javascript" language="javascript">
	Event.observe(window, 'load', function() {
		new Cropper.Img(
			'photo-image', {
				ratioDim: {
					x: 70, 
					y: 90
				},
				displayOnInit: true,
				onEndCrop: onEndCrop
			});
		});
		
	function onEndCrop(coords, dimensions) {
		$('x1').value = coords.x1;
		$('y1').value = coords.y1;
		$('x2').value = coords.x2;
		$('y2').value = coords.y2;
		$('width').value = dimensions.width;
		$('height').value = dimensions.height;
	}
</script>

<%= image_tag @photo.public_filename(:thumbnail), :id => 'photo-image' %>
<%# image_tag @picture.public_filename(:cropped) if File.exists?(@picture.full_filename(:cropped)) %>

<div class="imgCrop_wrap">
</div>

<% form_for(@photo) do |f| %>
	<%= hidden_field_tag 'x1' %>
	<%= hidden_field_tag 'y1' %>
	<%= hidden_field_tag 'x2' %>
	<%= hidden_field_tag 'y2' %>
	<%= hidden_field_tag 'width' %>
	<%= hidden_field_tag 'height' %>
	
	<%= f.check_box :grayscale %> <%= f.label :grayscale, 'Jeg ønsker billederne i sort/hvid' %><br />
	<%= f.submit 'Klip billede' %>
<% end %>

<% content_for :menu do -%>
	<%= link_to "Tilbage", root_path %>
<% end %>

<% content_for :help do -%>
	<h3>Politiets krav</h3>
	<p>
		Politiet har følgende krav til billeder der skal benyttes til pas:
	</p>

	<ul>
		<li>være 35 x 45 mm og hovedet skal være 25 - 35 mm i højden</li>
		<li>være nyt</li>
		<li>være fremstillet på almindeligt tyndt fotopapir</li>
		<li>ikke være stemplet, hullet eller på anden måde beskadiget</li>
		<li>have tydelig kontrast mellem motiv og baggrund</li>
		<li>ingen skygger på baggrunden</li>
		<li>være i sort/ hvid eller farve (gengives i s/ h)</li>
		<li>være taget i siden fra profil, således at begge øjne og højre øre er synlige</li>
	</ul>

<% end %>