<h1>Listing photos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th>Height</th>
    <th>Width</th>
  </tr>

<% for photo in @photos %>
  <tr>
    <td><%=h photo.public_filename %></td>
    <td><%=h photo.size %></td>
    <td><%=h photo.height %></td>
    <td><%=h photo.width %></td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
