<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<title>billedid</title>
	  	<%= stylesheet_link_tag '/curiouslygreen/default.css' %>
		<%= stylesheet_link_tag 'application' %>
		<%= javascript_include_tag :defaults, 'lowpro', 'builder', 'cropper/cropper', :cache => true %>
		<%= javascript_include_tag 'cropper/cropper' %>
	</head>
	<body>
		<div id="header">
			<div id="header_inner">
				<h1><a href="/"><span>billed</span>id</a></h1>
				<div id="slogan">lav dine egne pasfotos gratis</div>
			</div>
		</div>
		<div id="main">
			<div id="lcol">
				<div id="menu">
					<%= yield :menu -%>
				</div>
				<div id="menu_end"></div>
				<div id="lcontent">
					<%= yield :help -%>
				</div>
			</div>
			<div id="rcol">
				<div id="rcontent">
					<p style="color: green"><%= flash[:notice] %></p>
					<%= yield  %>
				</div>
			</div>
		</div>
		<div id="footer">
			&copy; 2008 Gazebo ApS. All rights reserved. <%= link_to('terms', about_terms_path) %> | <%= link_to('privacy', about_privacy_path) %> | <%= link_to('blog', 'http://blog.gazeboapps.com') %> | <%= link_to('about', 'http://gazeboapps.com/about') %>
		</div>
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			var pageTracker = _gat._getTracker("UA-869742-15");
			pageTracker._trackPageview();
		</script>
	</body>
</html>